# Dependencias
node_modules/

# Variables de entorno (credenciales de Oracle)
.env
.env.local

# Logs
npm-debug.log*
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Oracle Instant Client (si lo descargas dentro del proyecto)
instantclient*/